
.label{
  width: 100%;
}

.myLayout{
  padding: 20px;
}

.ant-layout .ant-layout-sider{
  background: #fff;
}

.footer{
  position:absolute;
  bottom:20px;
  left: 50%;
  transform: translateX(-50%);
}

.footer a{
  color:darkgray;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
}